@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));


*{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
 
}

@theme {
  --color-primary: #5044E5;
  /* --color-secondary:#5FAED6; */
  --color-secondary:#3F8FBF;
  --font-style:"SN Pro", sans-serif;

  /* SHOPPING CART COLOR */
  --color-navbcart:#166534;
  --color-navbcart-hover:#22C55E;

  /* Button shopping */
  --color-btn-primary:#F59E0B;

  /* CARDS */
}
/* Force all product card backgrounds to navy in dark mode */
.dark .rounded-lg.flex-col {
  background-color: #111827 !important;
  border-color: #1f2937 !important;
}

/* Force text inside cards to be white */
.dark .rounded-lg.flex-col h2, 
.dark .rounded-lg.flex-col span {
  color: white !important;
}

